<div class=" nav navbar p-4 link-light">
  <div class="container">
    <div class="logo">
      <a class="text-decoration-none text-white fs-3" routerLink="home">Start angular</a>
  </div>
  <div class="links">
    <ul class="list-unstyled d-flex">
      <li>
        <a class ="text-decoration-none p-3 text-white" routerLinkActive="active-link" routerLink="portfolio">PORTFOLIO</a>
      </li>
      <li>
        <a class ="text-decoration-none p-3 text-white" routerLinkActive="active-link" routerLink="about">ABOUT</a>
      </li>
      <li>
        <a class ="text-decoration-none p-3 text-white" routerLinkActive="active-link" routerLink="contact-me">CONTACT</a>
      </li>
      <li>
        <a class ="text-decoration-none p-3 text-white" routerLinkActive="active-link" routerLink="information">INFORMATION</a>
      </li>
    </ul>
  </div>
</div>
</div>
